<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotivatorTemplar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MotivatorTemplar.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <MotivatorTemplar.Properties.Settings>
      <setting name="Deadlift" serializeAs="String">
        <value>285</value>
      </setting>
      <setting name="Squat" serializeAs="String">
        <value>195</value>
      </setting>
      <setting name="Bench" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="Shoulder" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="Clean" serializeAs="String">
        <value>115</value>
      </setting>
    </MotivatorTemplar.Properties.Settings>
    <MotivatorTemplar.User>
      <setting name="Bench" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="Squat" serializeAs="String">
        <value>195</value>
      </setting>
      <setting name="Shoulder" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="Clean" serializeAs="String">
        <value>115</value>
      </setting>
      <setting name="Deadlift" serializeAs="String">
        <value>285</value>
      </setting>
    </MotivatorTemplar.User>
  </userSettings>
</configuration>